[Unit]
Description=AWARP Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/AWARP/bin/AWARP-service

[Install]
WantedBy=multi-user.target
